{% extends 'partials/base.html' %}
{% load static %}
{% block css%}
{% include 'partials/css.html' %}
{% endblock %}
{% block extra_css %}
        <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'libs/spectrum-colorpicker2/spectrum.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'libs/@chenfengyuan/datepicker/datepicker.min.css' %}">
        <link href="{% static 'libs/admin-resources/rwd-table/rwd-table.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
{% if questions.count > 0 %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="card-title-desc"></p>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="preguntas" class="table table-striped" >
                            <thead>
                            <tr>
                                <th>
                                    <div class="title" style="text-align: center">
                                        <h5>
                                            {{ title|upper }}
                                        </h5>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% block preguntas_opciones %}

                                {% endblock %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
{% else %}
    <div class="x_panel">
        <div class="x_title">
            <h3>Actualmente no se han cargado preguntas al sistema</h3>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block r_sidebar %}
{% include 'partials/rightsidebar.html' %}
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
