{% extends 'parciales/list.html' %}

{% block btn_creacion %}
    <div class="mb-2">
        <button class="rounded-circle btn btn-outline-info" new-register type="button" onclick="openModal('{% url 'eva:create-parameter' %}', 'createModal')" title="Nuevo registro: {{ entity }}" >
            <i class="fas fa-plus"></i>
        </button>
    </div>
{% endblock %}

<!--Columnas de la tabla parámetros-->
{% block cols %}
    <th>N°</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Acción</th>
{% endblock %}
<!--Filas de la tabla-->
{% block filas %}
    {% for item in object_list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>
                <button onclick="openModal('{% url 'eva:update-parameter' item.pk %}', 'updateModal')" class="rounded-circle btn btn-outline-secondary btn-sm edit" title="Editar">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button onclick="confirmDelete('{% url 'eva:delete-parameter' item.pk %}')" class="rounded-circle btn btn-outline-danger btn-sm trash" title="Borrar">
                    <i class="fas fa-trash"></i>
                </button>
                {% csrf_token %}
            </td>
        </tr>
    {% endfor %}
 {% endblock %}